@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*,
body,
html {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat';
    line-height: 1.5;
    font-weight: 300;
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    transition: none;
}

body {
    background-color: #F4F4F2;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    top: 0;
    left: 0;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
    position: -webkit-sticky;
    position: sticky;
    transition: 0.5s ease;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(20px);
}

header.sticky {
    background-color: #0a5a12;
}

header .logo {
    width: 150px;
    height: auto;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color: #00e600;
}

.main-div {
    padding: 100px 10%;
    visibility: hidden;
    background-color: #F4F4F2;
    position: relative;
}

.visible {
    visibility: visible !important;
}

h1 {
    color: #00b000;
    margin-bottom: 20px;
}
h2 {
    color: #00b000;
}

h3 {
    font-size: 16px;
    color: #008000;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    font-size: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#banner {
    top: 0;
    padding: 0;
    height: 85vh;
    width: 100%;
    background-image: url('vector (2).png');
    background-size: cover;
    background-position: center;
    display: block;
    visibility: visible !important;
    align-items: center;
    justify-content: center;
    position: relative;
}

#tools {
    background-image: url('vector (3).png');
    background-size: cover;
    background-position: center;
}

#contact {
    background-image: url('vector-3.png');
    background-size: cover;
    background-position: center;
}

.banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.banner-content .banner-text {
    flex: 1; /* Allow text to take available space */
    text-align: left; /* Align text to the left */
    padding-left: 16px; /* Add padding between image and text */
}
.banner-content .banner-image img {
    border-radius: 50%; /* Make the image round */
    border: 8px solid #0a5a12; /* Add a white border */
    width: 400px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

.banner-content .banner-image {
    flex: 1; /* Allow image to take available space */
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 500;
}

.banner-content h3 {
    font-size: 20px;
    color: #00b000;
}

.banner-content p {
    font-size: 18px;
}

.about {
    text-align: center;
    background-color: white !important; 
}

.about .container {
    max-width: 800px;
    margin: 0 auto;
}

.about .text-container {
    padding: 100px 20%;
}

.about h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px !important;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about .btn {
    display: flex;
    margin: 20px auto;
    padding: 10px 20px;
    width: auto;
    text-align: center;

    font-size: 14px;
    color: #008000;
    background: none;
    border: solid 1px #008000;

    cursor: pointer;
    transition: color 0.4s ease linear;
    position: relative;
}

/* Content */
#content {
    margin: 32px 5%;
    padding: 0;
    visibility: visible;
    background-color: white;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#content .container {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image-container {
    flex: 1;
    padding: 0;
}

.image-container img {
    display: block;
    width: 800px;
    height: auto;
}

.text-container {
    flex: 1;
    padding: 50px 100px;
}

.text-container h2 {
    font-size: 24px;
    font-weight: bold;
}

.text-container p {
    font-size: 14px;
}

/* Style for Image Gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.project-banner-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.project-link {
    color: #00b000;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

.btn {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    text-align: left;
    justify-content: space-between;

    font-size: 14px;
    color: #008000;
    background: none;
    border: solid 1px #008000;

    cursor: pointer;
    transition: color 0.4s ease linear;
    position: relative;
}

.btn:hover {
    color: #fff;
    z-index: 0;
    transition: 0.4s ease;
}

.btn:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s ease;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #008000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.btn::before {
    transform: scaleX(0);
}

.btn:hover::before {
    transform: scaleX(1);
}

.btn:active {
    transform: translateY(50%);
}

a .btn {
    text-decoration: none;
}

/* Add this to your existing CSS */
.main-div#contact {
    text-align: center;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px; /* Adjust spacing between icons */
    font-size: 64px; /* Adjust the size of the icons */
    color: #555; /* Adjust icon color */
    transition: transform 0.3s ease; /* Add smooth hover effect */
}

.social-links a:hover {
    color: #008000; /* Change icon color on hover */
    transform: scale(1.2); /* Increase size of icon on hover */
}


footer {
    background-color: #0a5a12;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
    line-height: 1.5;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fa-chevron-right {
    padding-right: 5px;
    font-size: 12px;
}

/* Animation for thank you message */
.animate {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    opacity: 0;
}

.stay {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Carousel */
#tools {
    padding: 10%;
    text-align: center;
}
#tools h1 {
    font-size: 36px;
    text-align: center;
}
.owl-carousel {
    margin-top: 48px;
}
.owl-carousel .item {
    position: relative;
    text-align: center;
}

.owl-carousel .item img {
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 40%; /* Sets the maximum width of the image to 100% of its container */
    height: auto; /* Ensures the image maintains its aspect ratio */
}

.owl-carousel .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background color of the label */
    color: #ffffff; /* Text color of the label */
    padding: 5px; /* Padding around the label */
    font-size: 14px; /* Font size of the label */
}


#portfolio .text-container h1 {
    font-size: 36px;
}

.portfolio-title {
    text-align: center;
    margin-top: 100px;
}

.portfolio-title h1 {
    font-size: 36px;
}


/* Phone mode */
@media screen and (max-width: 1280px) {

    .image-container img {
        width: 600px;
    }

    .text-container {
        padding: 21px;
    }
}

@media screen and (max-width: 916px) {

    p {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        font-size: 14px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
    }

    #project {
        padding: 15px;
    }

    #project h2 {
        font-size: 26px;
    }

    #project p {
        font-size: 14px;
    }

    #category {
        text-align: center;
    }

    #category h2 {
        padding: 0;
    }

    form button,
    form input,
    form textarea {
        font-size: 12px;
    }

    #contact {
        padding: 50px 20px;
    }


    #content .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .image-container {
        flex: 100%;
    }

    .image-container img {
        width: 100%;
    }

    .text-container {
        position: relative;
        padding: 20px;
    }

    footer p {
        line-height: 1;
        font-size: 12px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

}

@media screen and (max-width: 769px) {

    p {
        font-size: 14px;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 15px;
        font-size: 14px;
    }

    header .logo {
        margin-bottom: 20px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
    }

    #project {
        padding: 15px;
    }

    #project h2 {
        font-size: 26px;
    }

    #project p {
        font-size: 14px;
    }

    #category{
        text-align: center;
    }

    #category h2 {
        padding: 0;
    }

    #contact {
        padding: 50px 20px;
    }

    #content .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .image-container {
        flex: 100%;
    }

    .image-container img {
        width: 100%;
    }

    .text-container {
        position: relative;
        padding: 20px;
    }

    footer p {
        line-height: 1;
        font-size: 12px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .btn {
        width: 150px;
    }

    .social-links a {
        font-size: 40px;
    }

    #banner {
        background-image: url('vector-phone.png');
    }

    .banner-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px !important;
        font-weight: 500;
    }
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
    .about p {
        font-size: 16px !important;
        text-align: justify;
    }
    .banner-content p {
        font-size: 12px;
        text-align: center;
    }

}
@media screen and (max-width: 900px) {
    #banner {
        background-image: url('vector-phone.png');
    }
}

@media screen and (max-width: 1525px) {
    #portfolio h1 {
        text-align: center;
        font-size: 18px;
        padding-bottom: 12px;
    }
    .portfolio-title {
        text-align: center;
        margin-top: 100px;
    }
}

@media screen and (max-width: 1326px) {
    .banner-content {
        flex-direction: column;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 32px;
        font-weight: 500;
    }

    .banner-content .banner-text {
        text-align: center;
        padding-left: 0;
        margin-top: 20px;
    }

    .banner-content .banner-image img {
        width: 250px;
    }
    .about .text-container {
        padding: 50px 30px;
    }
}